server:
  port: 8085

spring:
  application:
    name: ga-matching-service
  jackson:
    property-naming-strategy: SNAKE_CASE

# Swagger
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
