# 이 파일을 application-local-secret.yml 로 복사한 뒤 Lightsail DB 정보를 채우세요.
# application-local-secret.yml 은 .gitignore 에 등록되어 커밋되지 않습니다.
# 프로젝트 루트에 두고, spring.profiles.active=local 로 실행 시 자동 로드됩니다.

spring:
  datasource:
    url: jdbc:postgresql://ls-584229d62cccd625a5fa723267dbdbc614b3b0e5.c9wi0gwweu9n.ap-northeast-2.rds.amazonaws.com:5432/ga_db?sslmode=require
    username: dbmasteruser
    password: w,*i.uAk7f^Gj;Gk`3O`oqZx3`0fj9Vm
